@use 'variables';

.login-form {
    &__input-cont {
        height: 80px;
    }
    &__btn {
        display: block;
        margin: 10px 0 0 0;
        transition: color 0.5s, background 0.5s ease-in-out;
    }
    &__btn:hover {
        background: variables.$darkBlueAlpha;
        color: variables.$white;
    }
    &__input-with-errors {
        border: 1px solid variables.$error;
    }
    &__input-with-no-errors {
        border: 1px solid variables.$noError;
    }
}

// .form-cont {
//     width: 50%;
//     min-height: 45vh;
//     background: variables.$white;
//     padding: 0 20px;
// }
