.form-cont {
    width: 50%;
    min-height: 500px;
    background: #203647;
    padding: 0 20px;
}

input {
    display: inline-block;
    width: 80%;
    padding: 13px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
