@use 'variables';
@use 'reusable-css';
@use 'form.scss';

body {
    font-family: 'robotoRegular';
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: variables.$darkBlue;
    height: 100vh;
}

.app-cont {
    width: 80vh;
    color: variables.$darkBlue;
}

.comp-cont {
    min-width: 50vh;
    min-height: 45vh;
    background: variables.$white;
    padding: 0 20px;
}

h1 {
    font-family: 'robotoLight';
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}

input {
    display: block;
    width: 80%;
    padding: 13px 10px;
    border: 1px solid variables.$darkBlue;
    border-radius: 5px;
}

button {
    background: variables.$white;
    margin-top: 40px;
    padding: 15px;
    border: 2px solid variables.$darkBlue;
    border-radius: 5px;
    width: 150px;
    font-weight: bold;
}

@media only screen and (max-width: 37rem) {
    .app-cont {
        width: 90vh;
    }
}
